{% extends 'base.html' %}
{% load static %}

{% block html_body %}
<h2>Enter Notes</h2>

<!-- List of notes -->
<ul id="note-list">
    {% for note in notes %}
    <li>{{ note.name }}</li>
    {% endfor %}
</ul>

<!-- Form to add a new note -->
<form id="add-note-form">
    <input type="text" id="note-name-add" name="name" placeholder="Note Name" required>
    <button type="submit">Add</button>
</form>
<br>
<!-- Logout Button -->
<form action="{% url 'accounts:logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>

<!--Display errors-->
<div id="error-message" style="color: red;"></div>

<!-- JavaScript to handle the AJAX request -->
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<!-- <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script> -->
<script>
    $(document).ready(function() {
        $('#add-note-form').on('submit', function(event) {
            event.preventDefault();
            var name = $('#note-name-add').val();
            $.ajax({
                url: "{% url 'notes:add_note' %}",
                type: "POST",
                data: {
                    name: name,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(response) {
                    // Update the note list
                    $('#note-list').append('<li>' + response.name + '</li>');
                    // Clear the form
                    $('#add-note-form')[0].reset();
                    // Clear any error messages
                    $('#error-message').text('');
                },
                error: function(xhr) {
                    $('#error-message').text(xhr.responseJSON.error);
                }
            });
        });
    });
</script>
{% endblock html_body %}