{% extends 'base.html' %}
{% load static %}

{% block html_body %}
<h2>Enter Animals</h2>

<!-- List of animals -->
<ul id="animal-list">
    {% for animal in animals %}
    <li>{{ animal.name }}</li>
    {% endfor %}
</ul>

<!-- Form to add a new animal -->إ
<form id="add-animal-form">
    <input type="text" id="animal-name-add" name="name" placeholder="Animal Name" required>
    <button type="submit">Add</button>
</form>
<br>
<!-- Logout Button -->
<form action="{% url 'accounts:logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form

<!-- Display errors -->
<div id="error-message" style="color: red;"></div>

<!-- JavaScript to handle the AJAX request -->
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<!-- <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script> -->
<script>
    $(document).ready(function() {
        $('#add-animal-form').on('submit', function(event) {
            event.preventDefault();
            var name = $('#animal-name-add').val();
            $.ajax({
                url: "{% url 'animals:add_animal' %}",
                type: "POST",
                data: {
                    name: name,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(response) {
                    // Update the animal list
                    $('#animal-list').append('<li>' + response.name + '</li>');
                    // Clear the form
                    $('#add-animal-form')[0].reset();
                    // Clear any error messages
                    $('#error-message').text('');
                },
                error: function(xhr) {
                    $('#error-message').text(xhr.responseJSON.error);
                }
            });
        });
    });
</script>
{% endblock html_body %}